*{
   margin:0;
   padding: 0;
   background-color: aliceblue; 
}

body {
    .bebas-neue-regular {
        font-family: "Bebas Neue", serif;
        font-weight: 400 px;
        font-style: normal;
      }
      
  }
  div.heading {
    color: brown;
    text-align: left;
  }
  
  
    
      
      
       
